.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e4b1ab;
    padding: 1em 2em;
    text-align: center;
    z-index: 20;
  }


  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: #b4436c;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .navbar a:hover {
    color: #e39695;
    transform: scale(1.1);
  }