@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


:root {
    --font-1: "Mona Sans", sans-serif;

    
    --global-color-1: #e39695;
    --global-color-2: #e4b1ab;
    --global-color-3: #df7373;
    --global-color-4: #f4a698;
    --global-color-5: #b4436c;
}

header {
    position: absolute;
    height: 90px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #e4b1ab;
}

header .logo {
    color: var(--global-color-5);
    text-decoration: none;
    font-weight: 600;
    font-size: xx-large;
    font-family: var(--font-1);
}

header .logo:hover{
    color: var(--global-color-3)
}

header ul {
    position: relative;
}

header ul li {
    list-style: none;
    float: left;
    position: relative;
}

header ul li a {
    font-size: 1em;
    padding: 20px 25px;
    text-decoration: none;
    color: #b4436c;
    display: flex;

    justify-content: space-between;
    font-weight: 500;
    transition: all .3s ease;
}

header ul li a:hover {
    color: var(--global-color-3);
}

